div.note {
    width:80%;padding:6px;
}

div.note-green {
    border:1px dashed #06ce1d;
    margin:10px 0px 10px 0px;
}

div.note-red {
    border:1px dashed #ff0543;
    margin:10px 0px 10px 0px;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}
